head{
    align-content: center;
}
h1{
    width: 94%;
    font: status-bar;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    padding: 3%;
    background-color: antiquewhite;
    color: rgb(20, 20, 66);
}
h2{
    text-align: justify;
    color: rgb(23, 12, 70);
}
footer{
    background: rgb(175, 175, 175);
    position: absolute;
    bottom: 0;
    width: 94%;
    height: 20px;
    font: status-bar;
    color: rgb(10, 10, 10)
 }
.class1 {
    font: status-bar;
    padding: 10px;
    padding-left: 10px;
    line-height: 1.5em;
    width: 93%;
    font-size: 1.5em;
    background-color: rgb(195, 195, 196);
    box-sizing: border-box;
}
.class1 p{
    font-size: 14pt;
    line-height: 1.5em;
    text-align: justify;
    padding: 3pt;
    color: rgb(12, 11, 11);
}
.fondoBg{
    background-color: rgb(162, 232, 243);
    width: 1336px;
    height: 450px;
}
.ocultar {  
    display: none; 
}
#container2{
    
    color: rgb(47, 49, 49);
    padding:30px;
}
#container2 p{
    font: status-bar;
    font-size: 1.5em;
}
#container3{
    color: rgb(47, 49, 49);
    font: status-bar;
}
.size {
    width: 100%
}
#container1{
    width: 80%;
    margin: 0 auto;
}
input{
    width: 70px;
    height: 30px;
    cursor: pointer;
}
input[type="text"]{
    border: 15px;
    width: 350px;
    height: 30px;
    cursor: text;
}
p{
    color:rgb(7, 19, 92);
    font-size:30px;
    font: status-bar
    
}
p footer{
    font-size:12pt;
    font: status-bar;
    color: rgb(0, 0, 0);
    text-align: justify;
}