*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgba(228, 228, 228, 0.918);
    color: black;
    font: status-bar;
}
.contenedorGeneral{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, auto);
}
.contenedorGeneral > div,
.contenedorGeneral .encabezado,
.contenedorGeneral .ocultar {
    background: white;
    padding: 20px;
    border-radius: 3px;
}


/* 
header{
    align-content: center;
    background: url('img/card_two.png') no-repeat;
    background-position: right;
} */
h1{
    width: 94%;
    font: status-bar;
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 3%;
    background-color: #192a56;
    color: rgb(255, 255, 255);    
}

h2{
    text-align: center;
    color: #192a56;
    font: status-bar;
    font-size: 16pt;
    font-weight: bold;
}
/* footer{
    background: rgb(175, 175, 175);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
    font: status-bar;
    color: #192a56;
 } */
/* .class1 {
    padding: 10px 25px 10px 25px;
    line-height: 1.5em;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(195, 195, 196);
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
} */
/* .class1 p{
    font: status-bar;
    font-size: 14pt;
    line-height: 1.5em;
    text-align: justify;
    padding: 3pt;
    color: rgb(12, 11, 11);
    
} */
.ocultar {  
    display: none; 
}
#container2{
    padding:30px;
    margin-top: 20px;
    width: 50%;
    height: 300px;
    color: rgb(47, 49, 49);
    margin: 0 auto;
    margin-top:35px;
    padding: 20px 50px 50px 50px;
    background-color:#ffffff;
    background-size: cover;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}
#container2 p{
    font: status-bar;
    font-size: 1.5em;
}
#container3{
    width: 50%;
    height: 300px;
    color: rgb(47, 49, 49);
    margin: 0 auto;
    margin-top:35px;
    padding: 20px 50px 50px 50px;
    background-color:#ffffff;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}
#container3 p{
    font: status-bar;
    font-size: 17pt;
    color:#2c3e50;
    font-weight: bold;
}
/* #container1{
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 20px;
} */
/*Esta clase selecciona solo los botones para funciones*/
.botones{
    width: 90px;
    height: 35px;
    cursor: pointer;
    border-radius: 10px;
    border-color:#1C1C68;
    background-color: #FDFDFD;
    color:#1C1C68;
    font-size: 11pt;
    font-weight: bold;
}

.botontx{
    width: 350px;
    height: 40px;
    cursor: text;
    font-size: 14pt;
    font: unset;
}
input[type=text]:invalid{
    border: 3px solid rgb(252, 0, 0);
}
/* p{
    color:rgb(7, 19, 92);
    font-size:30px;
    font: status-bar
    
}
footer p{
    font-size:12pt;
    font: status-bar;
    color: rgb(0, 0, 0);
    text-align: justify;
} */
