head{
    align-content: center;
    
    

}
h1{
    width: 80%;
    font: status-bar;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    padding: 3%;
}
footer{
    background: black;
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 15pt;
    font: status-bar;
    color: rgb(146, 52, 52)
 }
.class1 {
    background-color: antiquewhite;
    color: rgb(47, 49, 49);
    font: status-bar;
    padding: 10px;
    padding-left: 20px;
    line-height: 1.5em;
    width: 80%;
    font-size: 1.5em;
}
.class1 p{
    font-size: 12pt;
    line-height: 1.5em;
    text-align: justify;
    padding: 3pt;
}
.class2 {
    background-color: rgb(135, 173, 104);
    color: rgb(47, 49, 49);
    font: status-bar;
    font-size: 5em;
    padding:5px;
    padding-left: 20px;
    width: 70%;
    display: none;
    
}

.class3 {
    color: rgb(47, 49, 49);
    font: status-bar;
}
.size {
    width: 100%
}
#container1{
    width: 80%;
    margin: 0 auto;
}
input{
    width: 70px;
    height: 32px;
    cursor: pointer;
}
input[type="text"]{
    border: 15px;
    width: 350px;
    height: 30px;
    cursor: text;
}
p{
    color:rgb(7, 19, 92);
    font-size:30px;
    font: status-bar
    
}